<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>添加音乐</title>
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      body {
        height: 100vh;
        background: linear-gradient(to bottom, #acb6e5, #74ebd5);
      }
      .container {
        max-width: 720px;
      }
      h1 {
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <h1>添加音乐到曲库</h1>
      <div id="music-list" class="mb-2">您还未选择任何音乐文件</div>
      <button
        type="button"
        id="btn-select"
        class="btn btn-outline-primary btn-lg btn-block mt-4"
      >
        选择音乐
      </button>
      <button
        type="button"
        id="add-music"
        class="btn btn-primary btn-lg btn-block mt-4"
      >
        导入音乐
      </button>
    </div>
    <script>
      require('../renderer/add-music/index.js')
    </script>
  </body>
</html>
